<%= render "shared/header"%>

<div class="new-question-main">
  <%= form_with model: @question, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="new-question-form">
    <h2 class="new-question-title">質問を作成する</h2>
    <%# 質問タイトル %>
    <div class="form-main">
    <div class="weight-bold-text">
      タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title, class:"question-title", placeholder:"例)渋谷のおすすめの居酒屋を教えて欲しい！" %>

    <%# 質問文 %>
    <div class="weight-bold-text">
      質問文
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :content, class:"question-content",  placeholder:"例)渋谷駅近くの個室のある居酒屋を教えていただきたいです。" %>
    </div>

    <div class="other-title">
      ----  その他条件を指定する（任意）  ----
    </div>

    

    <%# 都道府県 %>
      <div class="other-wrapper">
        <div class="weight-bold-text">
          場所
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"question-prefecture"}) %> 
      </div>

      <div class="other-wrapper">
        <%# ジャンル %>
        <div class="weight-bold-text">
          ジャンル
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"question-genre"}) %>
      </div>

      <div class="other-wrapper">
        <%# シチュエーション %>
        <div class="weight-bold-text">
          誰と行く？
        </div>
        <%= f.collection_select(:situation_id, Situation.all, :id, :name, {}, {class:"select-box", id:"question-situation"}) %>
      </div>
  
    <%# ボタン %>
    <div class="question-btn">
      <%= f.submit "質問する" ,class:"create-btn" %>
    </div>
   
  <% end %>
  </div>
</div>


